.react-calendar {
  width: 680px !important;
  height: 100% !important;
  max-width: 100%;
  background: #FFFFFF;
  border: 0px !important;
  font-family: Arial, Helvetica, sans-serif;
  font: normal normal normal 17px/22px Segoe UI;
  line-height: 2.125em !important;
  padding:3em !important;
}
.react-calendar--doubleView {
  width: 800px !important;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  /* margin: -0.5em; */
  margin: 40px !important;

}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 60% !important;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  font-size:x-large !important;

  /* ffff */
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-17)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-segoe-ui);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;
font: normal normal normal 17px/22px Segoe UI;
letter-spacing: 0px;
color: #000000;
opacity: 1;
  /* ffff */

}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;

  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-17)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-segoe-ui) !important;
letter-spacing: var(--unnamed-character-spacing-0) !important;
text-align: center !important;
font: normal normal normal 17px/22px Segoe UI !important;
letter-spacing: 0px !important;
color: #000000 !important;
opacity: 1 !important;
font-size: medium !important;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size:medium !important;


  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-17)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-segoe-ui) !important;
letter-spacing: var(--unnamed-character-spacing-0) !important;
text-align: center !important;
font: normal normal normal 17px/22px Segoe UI !important;
letter-spacing: 0px !important;
color: #000000 !important;
opacity: 1 !important;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium !important;
  font-weight: bold;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);


  /* RRRRRRRR */
  font: var(--unnamed-font-style-normal) normal bold 18px/24px var(--unnamed-font-family-segoe-ui) !important;
letter-spacing: var(--unnamed-character-spacing-0) !important;
text-align: center !important;
font: normal normal bold 18px/24px Segoe UI !important;
letter-spacing: 0px !important;
color: #000000 !important;
opacity: 1 !important;
  /* RRRRRRRR */
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;

  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-17)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-segoe-ui) !important;
letter-spacing: var(--unnamed-character-spacing-0) !important;
text-align: center !important;
font: normal normal normal 17px/22px Segoe UI !important;
letter-spacing: 0px !important;
color: #000000 !important;
opacity: 1 !important;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
  border-radius: 40px !important;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #F1358A !important;
 

}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #F1358A !important;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #F1358A !important;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}


.ddf{
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/21px var(--unnamed-font-family-segoe-ui);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-747474);
text-align: left;
font: normal normal normal 16px/21px Segoe UI;
letter-spacing: 0px;
color: #747474;
opacity: 1;
}

.ddr{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 18px/24px var(--unnamed-font-family-segoe-ui);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal 600 18px/24px Segoe UI;
letter-spacing: 0px;
color: #3E3F45;
opacity: 1;
}


.datec{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 18px/24px var(--unnamed-font-family-segoe-ui);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal 600 18px/24px Segoe UI;
letter-spacing: 0px;
color: #F1358A;
opacity: 1;
}

.datad{
background: transparent linear-gradient(101deg, #74BDEE 0%, #74BDEE 100%) 0% 0% no-repeat padding-box;
border-radius: 16px;
opacity: 1;
padding: 5px;
}

.datat{
  background-color:#16DA9F;
  border-radius: 16px;
opacity: 1;
padding: 5px;
}

.cal{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 23px/31px var(--unnamed-font-family-segoe-ui);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-272934);
text-align: left;
font: normal normal 600 23px/31px Segoe UI;
letter-spacing: 0px;
color: #272934;
opacity: 1;
}

.dto{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 23px/31px var(--unnamed-font-family-segoe-ui);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-272934);
text-align: left;
font: normal normal 600 23px/31px Segoe UI;
letter-spacing: 0px;
color: #272934;
opacity: 1;
position: relative;
top:0px;
}